.left,.right{
    display: flex;
    flex-direction: column;
}
.cvItem{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 10px;
}
.right > :first-child{
    font-weight: bold;
}