.preview{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    box-shadow: -5px -5px 15px lightgray;
}
header{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B2545;
}
h1,.headerItems{
    color: #eef4ed
}
header > .headerItems{
    display: flex;
    flex-direction: row;
}
.previewBody{
    padding: 5%;
}
.previewBody > h2{
    background-color: lightgray;
    text-align: center;
}
.educationItems > :first-child{
    margin-top: 20px;
}
.educationItems > :last-child{
    margin-bottom: 40px;
}